* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  background-color: #0d0c0c;

  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.inputbox {
  width: 100%;
  background-color: #141415;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.inputbox input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
}

.btnBlue {
  background-color: #00aeef;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  text-align: center;
}

.btnBlue:hover {
  background-color: #028cbf;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.lightMode {
  background-color: #fff;
  color: #000 !important;
}

.lightMode .navbar {
  background-color: #ebebeb;
}

.lightMode .navbar .download {
  background-color: #dfdfdf;
  color: black;
}

.lightMode .tabs {
  background-color: #e1e1e1;
}

.lightMode .tabs .tab {
  background-color: #d8d7d7;
}

.lightMode .features {
  color: black;
}
